### 2. house 데이터에 적용된 SVM에서 epsilon의 역할을 support vector의 관점에서 논의하라.

In [1]:
import pandas as pd
from sklearn import datasets
boston_data = datasets.load_boston()

In [2]:
print(boston_data.keys())

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [3]:
print(boston_data.data.shape)

(506, 13)

In [4]:
print(boston_data.feature_names)

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [5]:
print(boston_data.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of black people by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [6]:
house = pd.DataFrame(boston_data.data)
house.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [7]:
house.columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT']
house.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [8]:
house.shape

(506, 13)

In [9]:
house['MEDV'] = boston_data.target
house['MEDV'].head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: MEDV, dtype: float64

In [10]:
house.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [11]:
house.shape

(506, 14)

In [12]:
import numpy as np
house['LLSTAT'] = np.log(house['LSTAT'])
house['LINDUS'] = np.log(house['INDUS'])
house.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,LLSTAT,LINDUS
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0,1.605430,0.837248
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6,2.212660,1.955860
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7,1.393766,1.955860
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4,1.078410,0.779325
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2,1.673351,0.779325

In [13]:
y = house['MEDV'].values
house = house.drop(['LSTAT', 'INDUS', 'MEDV'], axis=1)
X = house.values

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=3)

In [17]:
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

def svl_epsilon(num):
    svl = SVR(kernel='linear', C=1.0, epsilon=num)
    svl.fit(X_train, y_train)
    print('epsilon %f' % num)
    print(svl.coef_)
    print(svl.intercept_)
    
    y_train_predsvl = svl.predict(X_train)
    y_test_predsvl = svl.predict(X_test)
    print('MSE train: %.3f' % (mean_squared_error(y_train, y_train_predsvl)))
    print('MSE test: %.3f' % (mean_squared_error(y_test, y_test_predsvl)))
    
    print('R^2 train: %.3f' % (r2_score(y_train, y_train_predsvl)))
    print('R^2 test: %.3f' % (r2_score(y_test, y_test_predsvl)))
    
    print('-' * 30)

In [18]:
eps = [0.01, 0.1, 0.3, 0.5, 0.7, 1, 3, 5, 7, 10, 13, 15, 17, 20, 23, 25, 27, 30]

for i in eps:
    svl_epsilon(i)

epsilon 0.010000
[[-0.13752443  0.0126687   1.45339764 -1.70379892  4.15427029 -0.00706874
  -0.68309706  0.17463006 -0.00707726 -0.70234995  0.01429778 -5.52328422
  -1.25579624]]
[25.02381037]
MSE train: 21.040
MSE test: 19.677
R^2 train: 0.758
R^2 test: 0.750
------------------------------
epsilon 0.100000
[[-0.13856545  0.01259793  1.34141245 -1.67426492  4.1974654  -0.00779628
  -0.71869784  0.16539966 -0.00705687 -0.6880149   0.01395138 -5.55243046
  -1.26708833]]
[24.9837281]
MSE train: 21.041
MSE test: 19.506
R^2 train: 0.758
R^2 test: 0.752
------------------------------
epsilon 0.300000
[[-0.13887508  0.01382467  1.0795037  -1.67379356  4.17548501 -0.0100125
  -0.73400375  0.17013901 -0.00811595 -0.70149802  0.01368732 -5.61271119
  -1.07304256]]
[25.73847426]
MSE train: 21.224
MSE test: 19.283
R^2 train: 0.756
R^2 test: 0.755
------------------------------
epsilon 0.500000
[[-0.14435901  0.01381407  1.09983    -1.56629824  4.24591155 -0.01413356
  -0.72424996  0.16438779 -0.00727541 -0.73089517  0.01387134 -5.42513772
  -0.99014449]]
[25.07981327]
MSE train: 21.364
MSE test: 19.507
R^2 train: 0.754
R^2 test: 0.752
------------------------------
epsilon 0.700000
[[-0.14711157  0.0154659   0.86203668 -1.54558938  4.12491355 -0.01710836
  -0.78213684  0.18110478 -0.00808468 -0.75190934  0.01442862 -5.43069341
  -0.94677721]]
[26.557443]
MSE train: 21.360
MSE test: 19.383
R^2 train: 0.754
R^2 test: 0.754
------------------------------
epsilon 1.000000
[[-0.15373355  0.01385883  0.90495244 -1.74332431  4.18384481 -0.01961223
  -0.82402239  0.17977244 -0.00764348 -0.6904348   0.01361565 -5.42996358
  -1.03208154]]
[25.90659369]
MSE train: 21.164
MSE test: 19.265
R^2 train: 0.756
R^2 test: 0.755
------------------------------
epsilon 3.000000
[[-1.16988092e-01  1.31342434e-02  1.87119825e+00 -1.18681553e+00
   3.61508693e+00 -2.44556709e-03 -7.88258672e-01  1.43990132e-01
  -6.97144438e-03 -4.97787564e-01  1.03609970e-02 -6.78754121e+00
  -1.34436097e+00]]
[29.57860915]
MSE train: 19.679
MSE test: 18.453
R^2 train: 0.773
R^2 test: 0.765
------------------------------
epsilon 5.000000
[[-1.38394708e-01 -9.24572429e-03  2.21484095e+00 -8.27932856e-01
   3.36524185e+00 -2.99836258e-03 -6.77791582e-01  2.95599497e-01
  -1.09056804e-02 -7.10028540e-01  1.11659975e-02 -7.47849540e+00
  -1.51198227e+00]]
[37.3360902]
MSE train: 19.202
MSE test: 19.138
R^2 train: 0.779
R^2 test: 0.757
------------------------------
epsilon 7.000000
[[-1.93583643e-01 -4.79262694e-04  2.00000000e+00 -9.50154052e-01
   2.73505425e+00 -9.10991894e-03 -8.81921889e-01  4.89415304e-01
  -2.27937914e-02 -7.64520813e-01  8.93715737e-03 -7.96367708e+00
  -4.47960255e-01]]
[47.00572698]
MSE train: 21.172
MSE test: 19.767
R^2 train: 0.756
R^2 test: 0.749
------------------------------
epsilon 10.000000
[[-0.28996948  0.04457894  2.39650541 -0.45045857  1.97335524 -0.0140599
  -0.98561474  0.76839807 -0.02590766 -1.05697593  0.01001875 -6.61918781
  -0.50990515]]
[53.35051817]
MSE train: 27.126
MSE test: 27.886
R^2 train: 0.688
R^2 test: 0.645
------------------------------
epsilon 13.000000
[[-0.37112546  0.04866463  1.62795784 -0.33928559  0.83161991 -0.04789494
  -1.1647165   0.56209651 -0.01421314 -0.75322974  0.01000728 -4.93049159
  -0.08435917]]
[52.45420428]
MSE train: 46.190
MSE test: 48.174
R^2 train: 0.468
R^2 test: 0.387
------------------------------
epsilon 15.000000
[[-4.10650935e-01  3.80698523e-02  1.09229803e+00 -1.51419935e-01
   1.76562764e-01 -7.24748933e-02 -1.09775359e+00  3.47531652e-01
  -2.62808377e-03 -5.72060776e-01  9.74110411e-03 -3.69908012e+00
   1.96620774e-02]]
[50.64892925]
MSE train: 70.759
MSE test: 72.454
R^2 train: 0.185
R^2 test: 0.079
------------------------------
epsilon 17.000000
[[-0.45273123  0.          1.0679539  -0.07243804  0.10465698 -0.1476079
  -1.08024495  0.33276992 -0.00340953 -0.40990543  0.01385526 -1.89768346
   0.01460689]]
[50.55026118]
MSE train: 108.767
MSE test: 109.454
R^2 train: -0.252
R^2 test: -0.392
------------------------------
epsilon 20.000000
[[-2.23390856e-01  0.00000000e+00  1.79119940e-01 -6.45983683e-02
   2.45880090e-01 -4.60366202e-02 -5.58893264e-01  1.23587420e-01
  -8.18284436e-03  6.26851644e-05  1.66949801e-03 -9.12225666e-01
  -2.08744433e-03]]
[38.90532681]
MSE train: 124.152
MSE test: 124.818
R^2 train: -0.429
R^2 test: -0.587
------------------------------
epsilon 23.000000
[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]
[27.5]
MSE train: 110.589
MSE test: 105.608
R^2 train: -0.273
R^2 test: -0.343
------------------------------
epsilon 25.000000
[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]
[27.5]
MSE train: 110.589
MSE test: 105.608
R^2 train: -0.273
R^2 test: -0.343
------------------------------
epsilon 27.000000
[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]
[27.5]
MSE train: 110.589
MSE test: 105.608
R^2 train: -0.273
R^2 test: -0.343
------------------------------
epsilon 30.000000
[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]
[27.5]
MSE train: 110.589
MSE test: 105.608
R^2 train: -0.273
R^2 test: -0.343
------------------------------